.chatbot-container {
  z-index: 9999;
  position: fixed;
  bottom: 96px;
  right: 20px;
  width: min(300px, 90%);
  height: min(500px, calc(100% - 100px));

  scale: 0;
  opacity: 0;
  transition:
    scale 0.2s ease-in-out,
    opacity 0.1s ease-in-out;
  transform-origin: bottom right;
  &.show {
    scale: 1;
    opacity: 1;
  }
}
.bot-button {
  z-index: 9999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  &.avatar {
    color: white;
    height: 48px;
    width: 48px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--chatbot-color);
    // border: solid 1px black;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      height: calc(100% - 2 * var(--chatbot-avatar-margin));
      width: calc(100% - 2 * var(--chatbot-avatar-margin));
      margin: var(--chatbot-avatar-margin);
      background-image: var(--chatbot-avatar-img);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
